
/**** Template tweaks *******/
h1 {
  font-family: 'IM Fell Double Pica', 'Trebuchet MS', serif;
}
#headline h1 a {
  text-decoration: none;
  color: inherit;
}

li {
  margin: 0 0 0 1em;
}
nav li {
	list-style-type: none;
  margin: 0;
}
  nav li a {
    color: #222222;
  }
  nav li a:hover {
	  color: #888;
  }

#inline-page {
  background-color: #afc2da;
  padding: 0.5em;
}
  #inline-page h1 {
    text-align: center;
  }
  #inline-page .error,
  #inline-page .alert,
  #inline-page .notice,
  #inline-page .success,
  #inline-page .info {
    padding: 0.2em;
    margin-bottom: 0.5em;
    font-size: 0.7em;
    text-align: center;
  }
/****************************/


/* flash from blueprint */
.error, .alert, .notice, .success, .info {
  padding:0.8em;margin-bottom:1em;border:2px solid #ddd;
  opacity: 0.8;
}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}


.context-wrapper {
  margin-left: 1006px;
  min-width: 120px;
  padding: 5px;
  position: fixed;
  right: 0;
  top: 120px;
  background-color: #eee;
  opacity: 0.3;
  
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.context-wrapper:hover {
  opacity: 1;
}



div, section, article { padding: 0; margin: 0;}
.clear { clear: both; }



/***********************************
 * Inline Suggestion form
 ***********************************
 */
form#new_suggestion .inputs {
  overflow: visible;
}
  form#new_suggestion #suggestion_content_input {
    padding: 0;
    margin: 0;
    text-align: center;
  }
    form#new_suggestion #suggestion_content_input p {
      padding: 0;
      margin: 0;
    }
    form#new_suggestion #suggestion_content_input label {
      display: none;
    }
    form#new_suggestion #suggestion_content_input input {
      width: 99%;
      text-align: center;

      padding: 2px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid gray;
    }


  form#new_suggestion .buttons {
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    top: -1em;
    margin-bottom: -1em;
  }
    form#new_suggestion .buttons li {
      padding: 0.25em;
      margin: 0;
      float: right;
    }
      form#new_suggestion .buttons .create {
        border: 0;
        margin: 0;
        padding: 0.25em;
        background-color: gray;
        color: white;

        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid gray;

        cursor: pointer;
      }


/* END: Inline suggestion form */



.suggestions {
  clear: both;
}
  .suggestions .suggestion {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid gray;

    -moz-transition-property: background-color;
    -moz-transition-duration: 1s;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 1s;
    -o-transition-property: background-color;
    -o-transition-duration: 1s; 

    height: 3em;

    background-color: white;
  }
    .suggestions .suggestion.in_progress {      
      color: #1E801B;
    }
    .suggestions .suggestion.done {
      font-style: italic;
      color: gray;
    }

  .suggestions .suggestion .voting {
    float: right;
    display:table;
    position:static;    
    height: 3em;
    width: 100px;

    opacity: 0.8;
  }
    .suggestions .suggestion .voting .current,
    .suggestions .suggestion .voting .up,
    .suggestions .suggestion .voting .dn {
      display: inline;
      display: table-cell;
      vertical-align: middle;
      position: static;
      text-align: center;
    }
    .suggestions .suggestion .voting .current {
      font-size: 1.2em;
      padding-right: 0.5em;
    }
      .suggestions .suggestion.positive .current {
        color: green;
        font-weight: bold;
      }
      .suggestions .suggestion.negative .current {
        color: red;
      }

      .suggestions .suggestion .voting img {
        border: 0;
        margin: 0;
        padding: 0;
      }
  .suggestions .suggestion .content {
    display:table;
    position:static;    
    height: 3em;
    /* vertical-align-ing http://www.emblematiq.com/blog/vertical_align_with_css */
  }
    .suggestions .suggestion h5 {
      display: table-cell;
      vertical-align: middle;
      position: static;
      padding: 0 0.5em 0 0.5em;
    }
      .suggestions .suggestion h5 a {
        color: inherit;
      }







.field_definitions {}
  .field_definitions .field_definition {
    border: 1px solid gray;
  }
