
/**** Template tweaks *******/
h1 {
  font-family: 'IM Fell Double Pica', 'Trebuchet MS', serif;
}
#headline h1 a {
  text-decoration: none;
  color: inherit;
}

li {
  margin: 0 0 0 1em;
}
nav li {
	list-style-type: none;
  margin: 0;
}
  nav li a {
    color: #222222;
  }
  nav li a:hover {
	  color: #888;
  }
/****************************/


/* flash from blueprint */
.error, .alert, .notice, .success, .info {
  padding:0.8em;margin-bottom:1em;border:2px solid #ddd;
  opacity: 0.8;
}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}


.context-wrapper {
  margin-left: 1006px;
  min-width: 120px;
  padding: 5px;
  position: fixed;
  right: 0;
  top: 120px;
  background-color: #eee;
  opacity: 0.3;
  
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.context-wrapper:hover {
  opacity: 1;
}



div, section, article { padding: 0; margin: 0;}
.clear { clear: both; }




.suggestions {}
  .suggestions .suggestion {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid gray;

    -moz-transition-property: background-color;
    -moz-transition-duration: 1s;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 1s;
    -o-transition-property: background-color;
    -o-transition-duration: 1s; 

    height: 50px;
  }
    .suggestions .suggestion.in_progress {      
      color: #1E801B;
    }
    .suggestions .suggestion.done {
      font-style: italic;
      color: gray;
    }

  .suggestions .suggestion .voting {
    float: left;
    width: 70px;
    height: 50px;
  }
    .suggestions .suggestion .voting .current {
      border-right: 1px solid gray;
      width: 2em;
      float: right;
      text-align: right;
      line-height: 50px;
      margin-right: 5px;
      font-size: 1.2em;
    }
    .suggestions .suggestion .voting .up,
    .suggestions .suggestion .voting .dn {
      display: block;
      width: 25px;
      height: 25px;
    }
      .suggestions .suggestion .voting .up img,
      .suggestions .suggestion .voting .dn img {      
        border: 0;
        margin: 0;
        padding: 0;
      }
  .suggestions .suggestion h5 {
    display: block;
    float: left;
    width: 500px;
    overflow: auto;
    height: 50px;
    line-height: 50px;
    margin: 0;
  }
    .suggestions .suggestion h5 a {
      color: inherit;
    }
