.connecty-tab-box {
  position: fixed;
  left: 0px;
  top: 45%;
  display: block;
  border: 1px solid gray;
	display:block;
  padding: 5px;
  margin: 2px;
  z-index: 5;

  background-color: #6FABB3;

	white-space:nowrap;
  text-shadow: 0px 0px 7px #333;

  line-height: 16px;
  font-size: 16px;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  -moz-transition-property: background-color;
  -moz-transition-duration: 1s;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 1s;
  -o-transition-property: background-color;
  -o-transition-duration: 1s; 

	-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-o-transform: rotate(270deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
  .connecty-tab-box:hover {
    background-color: brown;
  }
  .connecty-tab-box a {
    text-decoration: none;
    color: white;
  }

.connecty-tab-area-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  z-index: 10000;
}
.connecty-tab-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10001;
}
  .connecty-tab-area .connecty-tab-area-toolbar,
  .connecty-tab-area .connecty-tab-area-content {
    background-color: white;
    z-index: 10002;
    display: block;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }

  .connecty-tab-area .connecty-tab-area-toolbar {
    height: 0;
    margin-top: 40px;
    text-align: right;
  }
    .connecty-tab-area .connecty-tab-area-toolbar a {      
      background-color: transparent;
      background-image: url("../../images/widgets/tab/content-close.png");
      background-position: right center;
      background-repeat: no-repeat;
      display: block;
      position: relative;
      width: 50px;
      height: 50px;
      top: -40px;
      left: 580px;
    }
      .connecty-tab-area .connecty-tab-area-toolbar a span {
        display: none;
      }

  .connecty-tab-area .connecty-tab-area-content {
    min-height: 300px;
    height: 70%;    
    padding: 5px;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    -moz-box-shadow: 10px 10px 5px #333;
    -webkit-box-shadow: 10px 10px 5px #333;
    box-shadow: 10px 10px 5px #333;
  }
  .connecty-tab-area .connecty-tab-area-content iframe {
    width: 100%;
    height: 100%;
  }
