-@title = 'The simple and easy customer feedback'


:markdown
  What is it?
  ============
  A very simple service that allows collecting a feedback from users of your web site.

  Why?
  ============
  There are a lot of similar services out there. But we aim to:
  - stay free;
  - keep it simple;

  How?
  ============
  [Sign In](/users/sign_in) or [Sign Up](/users/sign_up) (if you haven't yet).
  Then go and [create a project](/projects/new). All instructions will be provided.

