-@title = 'The simple and easy customer feedback'


:markdown
  What is it?
  ============
  A very simple service that allows collecting feedback from users of your web site.

  Why?
  ============
  There are a lot of similar services out there. But we aim to:
  - stay free;
  - keep it simple;

  How?
  ============
  Feel free to click the 'Feedback' button here to see the experience of users.

  To have the same coolness, please
  [Sign In](/users/sign_in) or [Sign Up](/users/sign_up) (if you haven't yet).
  Then go and [create a project](/projects/new). All instructions will be provided.


  Features - we all want those
  ============  

  Users of a web site that uses this service can:
  -------------------------------------------------

  - create suggestions;
  - no any registration required for them (so they will more likely leave some feedback for ya);
  - vote for existing suggestions;


  You, as an owner of a web site, can:
  ------------------------------------
  - have multiple projects;
  - have multiple projects within one web site (thus feedback for different areas of the site);
  - use the same project across multiple web sites (so you can accumulate all the feedback in one place);
  - invite users to a project, so more people can moderate it;
  - mark suggestions as 'In-Progress', 'Done' etc, so that users can see how you react to the feedback
  - copy a suggestion to PivotalTracker as a Story, so that your team can actually start working on it;
  - more features are to come with *your help*, please leave some feedback for us.


