.suggestion
  .voting
    .up +
    .current= suggestion.votes
    .down -
  %h5{:title => suggestion.status }= suggestion.content
  - if not suggestion.new_record? and can? :manage, suggestion
    .actions
      %a.edit{:href=>edit_project_suggestion_path(suggestion.project, suggestion)} edit
  .clear
