.suggestion
  .voting{:title=>'Votes'}
    .current= suggestion.votes
    .up{:title=>'Like it!'}
      %a{:href=>suggestion_vote_path(suggestion.project, suggestion, :value=>1, :inline=>inline)}
        %img{:alt=>'+', :src=> image_path('app/vote-up.png')}
    .dn{:title=>'Hate It!'}
      %a{:href=>suggestion_vote_path(suggestion.project, suggestion, :value=>-1, :inline=>inline)}
        %img{:alt=>'-', :src=> image_path('app/vote-dn.png')}
  %h5{:title => suggestion.status }
    - if can? :manage, suggestion
      %a.edit{:href=>edit_project_suggestion_path(suggestion.project, suggestion)}= suggestion.content
    - else
      = suggestion.content
  .clear
