<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="P3P" content='CP="IDC DSP COR CURa ADMa OUR IND PHY ONL COM STA"'>
  <%= render 'layouts/page_header' %>
</head>
<body>
  <div id='inline-page'>
    <%= render 'layouts/flash' %>
    <!-- INLINE TEMPLATE -->

    <% if not @title.blank? %>
      <h1><%= @title %></h1>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
