<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/page_header' %>
</head>
<body>
  <%= render 'layouts/flash' %>
  <!-- INLINE TEMPLATE -->

  <%= yield %>

  <%= connecty_install_script(12345).html_safe %>
</body>
</html>
